WebServiceIntegracao/Web References/InsertTeste/Client.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="importarDadosNotaFornecedor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="importarDadosNotaFornecedorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="importarDadosNotaFornecedorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaNotaImportada">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numeroNota" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaNotaImportadaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultaNotaImportadaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="importarDadosNotaFornecedorSoapIn">
    <wsdl:part name="parameters" element="tns:importarDadosNotaFornecedor" />
  </wsdl:message>
  <wsdl:message name="importarDadosNotaFornecedorSoapOut">
    <wsdl:part name="parameters" element="tns:importarDadosNotaFornecedorResponse" />
  </wsdl:message>
  <wsdl:message name="consultaNotaImportadaSoapIn">
    <wsdl:part name="parameters" element="tns:consultaNotaImportada" />
  </wsdl:message>
  <wsdl:message name="consultaNotaImportadaSoapOut">
    <wsdl:part name="parameters" element="tns:consultaNotaImportadaResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="importarDadosNotaFornecedorHttpGetIn">
    <wsdl:part name="json" type="s:string" />
  </wsdl:message>
  <wsdl:message name="importarDadosNotaFornecedorHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="consultaNotaImportadaHttpGetIn">
    <wsdl:part name="numeroNota" type="s:string" />
  </wsdl:message>
  <wsdl:message name="consultaNotaImportadaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="importarDadosNotaFornecedorHttpPostIn">
    <wsdl:part name="json" type="s:string" />
  </wsdl:message>
  <wsdl:message name="importarDadosNotaFornecedorHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="consultaNotaImportadaHttpPostIn">
    <wsdl:part name="numeroNota" type="s:string" />
  </wsdl:message>
  <wsdl:message name="consultaNotaImportadaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ClientSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="importarDadosNotaFornecedor">
      <wsdl:input message="tns:importarDadosNotaFornecedorSoapIn" />
      <wsdl:output message="tns:importarDadosNotaFornecedorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaNotaImportada">
      <wsdl:input message="tns:consultaNotaImportadaSoapIn" />
      <wsdl:output message="tns:consultaNotaImportadaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ClientHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="importarDadosNotaFornecedor">
      <wsdl:input message="tns:importarDadosNotaFornecedorHttpGetIn" />
      <wsdl:output message="tns:importarDadosNotaFornecedorHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaNotaImportada">
      <wsdl:input message="tns:consultaNotaImportadaHttpGetIn" />
      <wsdl:output message="tns:consultaNotaImportadaHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ClientHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="importarDadosNotaFornecedor">
      <wsdl:input message="tns:importarDadosNotaFornecedorHttpPostIn" />
      <wsdl:output message="tns:importarDadosNotaFornecedorHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaNotaImportada">
      <wsdl:input message="tns:consultaNotaImportadaHttpPostIn" />
      <wsdl:output message="tns:consultaNotaImportadaHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientSoap" type="tns:ClientSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="importarDadosNotaFornecedor">
      <soap:operation soapAction="http://tempuri.org/importarDadosNotaFornecedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaNotaImportada">
      <soap:operation soapAction="http://tempuri.org/consultaNotaImportada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClientSoap12" type="tns:ClientSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="importarDadosNotaFornecedor">
      <soap12:operation soapAction="http://tempuri.org/importarDadosNotaFornecedor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaNotaImportada">
      <soap12:operation soapAction="http://tempuri.org/consultaNotaImportada" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClientHttpGet" type="tns:ClientHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="importarDadosNotaFornecedor">
      <http:operation location="/importarDadosNotaFornecedor" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaNotaImportada">
      <http:operation location="/consultaNotaImportada" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClientHttpPost" type="tns:ClientHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="importarDadosNotaFornecedor">
      <http:operation location="/importarDadosNotaFornecedor" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaNotaImportada">
      <http:operation location="/consultaNotaImportada" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Client">
    <wsdl:port name="ClientSoap" binding="tns:ClientSoap">
      <soap:address location="http://easyepi.com.br/Teste/Client.asmx" />
    </wsdl:port>
    <wsdl:port name="ClientSoap12" binding="tns:ClientSoap12">
      <soap12:address location="http://easyepi.com.br/Teste/Client.asmx" />
    </wsdl:port>
    <wsdl:port name="ClientHttpGet" binding="tns:ClientHttpGet">
      <http:address location="http://easyepi.com.br/Teste/Client.asmx" />
    </wsdl:port>
    <wsdl:port name="ClientHttpPost" binding="tns:ClientHttpPost">
      <http:address location="http://easyepi.com.br/Teste/Client.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>